.button {
  --button-primary-fill: var(--primary-fill);
  --button-primary-accent: var(--primary-accent);
  --button-primary-text: white;

  --button-secondary-fill: rgb(217, 241, 253);
  --button-secondary-accent: var(--primary-accent);
  --button-secondary-text: var(--primary-fill);

  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  max-width: 150px;
  min-height: 28px;
  padding: 10px;
  border: solid 2px;
  border-radius: 5px;
}

@media (prefers-color-scheme: dark) {
  .button {
    --button-primary-text: rgb(193, 72, 254);
    --button-secondary-fill: rgba(147, 107, 159, 0.2);
    --button-secondary-text: rgb(160, 110, 183);
    --button-secondary-accent: var(--primary-accent);
  }
}

.variant-primary {
  background-color: var(--button-primary-fill);
  color: var(--button-primary-text);
  border-color: var(--button-primary-accent);
  font-weight: bold;
}

.variant-secondary {
  color: var(--button-secondary-text);
  background-color: var(--button-secondary-fill);
  border-color: var(--button-secondary-accent);
  border: solid 3px;
}

.width-content {
  min-width: 28px;
  max-width: none;
}

.width-fill {
  width: 100%;
}

.button:hover {
  cursor: pointer;
}
.variant-primary:hover {
  background-color: var(--primary-accent);
}
