.page {
  --link-primary-color: var(--primary-fill);
  --link-primary-accent: var(--primary-accent);

  --link-primary-color: var(--primary-fill);
  --link-primary-accent: var(--primary-accent);

  --main-bg-color: rgba(255, 255, 255, 0.7);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: start;
  min-height: var(--page-view-height);
  padding-top: calc(var(--nav-height) + 10px);
  padding-bottom: calc(var(--footer-height) + 5px);
  padding-left: 40px;
  padding-right: 40px;
  gap: 32px;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
  /* background-image: url("/images/Purdue-University2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
}

@media (prefers-color-scheme: dark) {
  .page {
    --link-primary-color: var(--primary-text-color);
    --link-primary-accent: var(--primary-accent);

    --link-primary-color: var(--primary-text-color);
    --link-primary-accent: var(--primary-accent);
    --main-bg-color: rgba(0, 0, 0, 0.7);
  }
}

.main {
  display: flex;
  flex-direction: column;
  width: 65%;
  max-width: 850px;
  gap: 16px;
  border-radius: 24px;
  background-color: var(--main-bg-color);
  height: calc(var(--page-view-height) - 40px);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
  scroll-padding-right: 4px;
  padding-top: 20px;
}

.section {
  position: relative;
  display: grid;
  gap: 16px;
}

.section.leftAligned {
  grid-template-columns: 2fr 1fr;
}

.section.rightAligned {
  grid-template-columns: 1fr 2fr;
}

.section p {
  font-size: var(--text-size-body);
}


.sectionContent {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 16px;
  gap: 16px;
}

.sectionImage {
  position: relative;
  margin: 8px;
  min-width: fit-content;
  min-height: fit-content;
}

.image {
  object-fit: contain;
}

@media (max-width: 1300) {
  .section.leftAligned {
    grid-template-columns: 1fr 1fr;
  }
  .section.rightAligned {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 850) {
  .main {
    gap: 0px;
  }
  .section {
    display: flex;
  }
  .sectionImage {
    display: none;
  }
  .sectionContent:last-child {
    padding-top: 0px;
  }
}