.page {  
    --button-primary-hover: #383838;
    --button-secondary-hover: #f2f2f2;
  
    --link-primary-color: var(--primary-fill);
    --link-primary-accent: var(--primary-accent);
  
    --link-primary-color: var(--primary-fill);
    --link-primary-accent: var(--primary-accent);
  
    display: grid;
    grid-template-rows: calc(var(--nav-height) + 20px) 1fr;
    align-items: center;
    justify-items: center;
    min-height: var(--page-view-height);
    padding: auto 40px auto 40px;
    gap: 32px;
    font-family: var(--font-geist-sans);
    overflow: hidden;
  }
  
  @media (prefers-color-scheme: dark) {
    .page {  
      --button-primary-hover: #ccc;
      --button-secondary-hover: #1a1a1a;
  
      --link-primary-color: var(--primary-text-color);
      --link-primary-accent: var(--primary-accent);
  
      --link-primary-color: var(--primary-text-color);
      --link-primary-accent: var(--primary-accent)
    }
  }
  
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 75%;
    gap: 16px;
    grid-row-start: 2;
  }
  