:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-fill: rgba(29, 78, 216, 1);
  --primary-accent: rgba(30, 58, 138, 1);
  --primary-text-color: white;
  --nav-height: 60px;
  --footer-height: 60px;
  --page-view-height: calc(100svh - var(--nav-height) - var(--footer-height));

  --text-size-xl: 40px;
  --text-size-large: 36px;
  --text-size-medium: 24px;
  --text-size-body: 16px;
  --text-size-caption: 12px;
}

@media (max-width: 1000px) {
  :root {
    --text-size-xl: 36px;
    --text-size-large: 30px;
    --text-size-medium: 24px;
    --text-size-body: 14px
  }
}

@media (max-width: 700px) {
  :root {
    --text-size-xl: 30px;
    --text-size-large: 24px;
    --text-size-medium: 16px;
    --text-size-body: 12px
  }
}

@media (max-width: 375px) {
  :root {
    --text-size-xl: 24px;
    --text-size-large: 20px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary-fill: rgb(51, 12, 143);
    --primary-accent: rgb(43, 12, 114);
    --primary-text-color: rgb(193, 72, 254);
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
