.page {
  --link-primary-color: var(--primary-fill);
  --link-primary-accent: var(--primary-accent);

  --link-primary-color: var(--primary-fill);
  --link-primary-accent: var(--primary-accent);

  display: grid;
  grid-template-rows: 20px 1fr;
  align-items: center;
  justify-items: center;
  min-height: var(--page-view-height);
  padding: 40px;
  gap: 32px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;

    --link-primary-color: var(--primary-text-color);
    --link-primary-accent: var(--primary-accent);

    --link-primary-color: var(--primary-text-color);
    --link-primary-accent: var(--primary-accent)
  }
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  grid-row-start: 2;
}

.main h1 {
  font-size: var(--text-size-xl);
}

.headshot {
  width: 340px;
  height: 510px;
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
