.footer {
  --link-primary-color: var(--primary-fill);
  --link-primary-accent: var(--primary-accent);
  --link-primary-hover-fill: rgb(233, 233, 233);

  grid-row-start: 3;
  position: fixed;
  bottom: 0;
  left: 0;
  height: var(--footer-height);
  display: flex;
  justify-content: center;
  gap: 16px;
  background-color: var(--background);
  /* z-index: 10; */
  width: 100vw;
}

@media (prefers-color-scheme: dark) {
  .footer {
    --link-primary-color: var(--primary-text-color);
    --link-primary-accent: var(--primary-accent);
    --link-primary-hover-fill: rgb(50, 50, 50);
  }
}

.footer a {
  display: flex;
  align-items: center;
  margin: 4px 0px;
  padding: 8px;
  color: var(--link-primary-color);
}

.footer img {
  flex-shrink: 0;
}

@media (hover: hover) and (pointer: fine) {
  .footer a:hover {
    text-decoration: underline 2px;
    text-underline-offset: 4px;
    text-decoration-color: var(--link-primary-accent);
    border-radius: 5px;
    background-color: var(--link-primary-hover-fill);
  }
}

@media (max-width: 600px) {
  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
